@import '../lib/foundation/foundation/_settings.scss';
@import '../lib/foundation/normalize';
@import '../lib/foundation/foundation';
@import '../lib/font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Quattrocento+Sans);

$palewhite: #ffffff;
$lightgray: #f4f4f5;
$darkblue: #2f353e;
$green: #44b687;
body {
  background: $lightgray;
//  font-family: $body-font-family;
  color: #444;
}
h1, h2, h3 {
//  font-family: $header-font-family;
  color: #444;
}

.divider {
  border-left: 3px solid #3a4145;
}

.sidebar {
  background-color: $darkblue;
  color: $palewhite;
  min-height: 100%;
  height: 100%;

  h1, h2, h3 {
    color: $palewhite;
  }
  .top-logo-text {
    border: 6px solid $palewhite;
    border-radius: 3px;
    padding: 20px;
  }

}


.border-bottom {
  border-bottom: 7px solid $palewhite;
}

.card {
  padding: 20px;
  min-height: 120px;
  background: $palewhite;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

.type {
  position: absolute;
  top: 5px;
  left: 7px;
}

.tag {
  background: $green;
  color: $palewhite;
  font-size: 10px !important;
  margin-right: 2px;
  padding: 3px;
}
.modal {

}

.detail {
  background: $palewhite;
  padding: 20px;
  width: 80%;

}

.menu-button {
  border: 1px solid #fff;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  color: #FFF !important;
  font-size: 1em !important;
  &:hover {
    background: rgba(255, 255, 255, 0.09)

  }
}

.push-down {
  margin-top: 60px;
}

.block {
  display: block;
}
i {
  color: $darkblue;
  vertical-align: middle;
}

.content {
  padding: 7px;
  position: relative;
}
