<div class="large-8 large-centered">

    <form ng-submit="submit()" name="form" novalidate>
        <div class="row">
            <h1 class="text-center">Welcome!</h1>
            <div class="large-8 columns large-centered">
                 <label>Email:
                    <input
                    required
                    name="email"
                    type="email"
                    ng-model="credentials.email"
                    placeholder="Email:" />
                </label>
                <p ng-show="form.email.$dirty && form.email.$invalid">
                    <span ng-show="form.email.$error.required">You need to enter an email</span>
                    <span ng-show="form.email.$error.email">Not an valid email</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns large-centered">
                 <label>Password:
                    <input
                    ng-model="credentials.password"
                    type="password"
                    placeholder="Password:" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-6 large-offset-2 columns">
                <input type="submit" class="button small" value="Login">
            </div>
        </div>

    </form>
</div>