<div class="detail">
    <h2>{{ resource.title }}</h2>
    <p class="panel">{{ resource.description }}</p>
    <span class="url">
        <a  href="{{resource.url}}">Länk till resurs</a>
        <br>
        <small>{{resource.url}}</small>
    </span>
    <div class="meta">

 <table>
  <thead>
        <tr>
          <th width="150">Licence</th>
          <th width="150">Resource type</th>
          <th width="150">User</th>
          <th width="150">Created</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ resource.licence.licence_type }}</td>
      <td>{{resource.resourcetype.resource_type}}</td>
      <td>{{ resource.user.firstname  }} {{resource.user.lastname}}</td>
      <td>{{resource.created_at | date}}</td>

  </tr>

</tbody>
</table>



        <div ng-hide="currentUser.id !== resource.user.id" class="action">
            <a class="button success small radius" ui-sref="base.resource.detail.edit">Edit</a>
            <a class="button alert small radius" ng-click="delete(resource.id)">Delete</a>
        </div>
    </div>
</div>