<div class="modal">

        <div class="row divider">
            <div class="large-12 columns centered">
                <h2>Edit resource</h2>
            </div>
        </div>
        <form ng-submit="update()" name="form" class="large-12 columns">
            <div class="large-6 columns">
                <div class="row">
                   <div class="large-8 columns">
                         <label>Title:
                            <input
                            type="text"
                            required
                            name="title"
                            ng-minlength='3'
                            ng-model="resource.title"
                            placeholder="Title:" />
                        </label>
                        <p ng-show="form.title.$dirty && form.title.$invalid">
                            <span ng-show="form.title.$error.required">You need to enter a title</span>
                            <span ng-show="form.title.$error.minlength">You need atleast 3 character for a valid title</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                   <div class="large-8 columns">
                         <label>Description:
                            <input
                            ng-model="resource.description"
                            type="text" placeholder="Description:"
                            required
                            ng-minlength='10'
                            name="description"
                             />
                        </label>
                        <p ng-show="form.description.$dirty && form.description.$invalid">
                            <span ng-show="form.description.$error.required">You need to enter a description</span>
                            <span ng-show="form.description.$error.minlength">You need atleast 10 character for a valid description</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                         <label>Url:
                            <input
                            name="url"
                            required
                             ng-model="resource.url"
                             type="url"
                            placeholder="Url:" />
                        </label>
                        <p ng-show="form.url.$dirty && form.url.$invalid">
                            <span ng-show="form.url.$error.required">You need to enter a url</span>
                            <span ng-show="form.url.$error.url">That's no a valid url.</span>
                        </p>
                    </div>
                </div>


            </div>

            <div class="large-6 columns ">
                <div class="row">
                    <div class="large-8 columns">
                        <label>Resource type:

                         <select ng-model="resource.resourcetype.id" ng-options="r.id as r.resource_type for r in resourceTypes" name="rType" required>
                                <option value="">Choose type</option>
                         </select>
                        </label>
                         <p ng-show="form.rType.$dirty && form.rType.$invalid">
                            <span ng-show="form.rType.$error.required">You need to choose resource type</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                         <label>Licence type:

                         <select ng-model="resource.licence.id" ng-options="licence.id as licence.licence_type for licence in licences" name="lType" required>
                                <option value="" selected>Choose licence</option>
                         </select>
                        </label>
                         <p ng-show="form.lType.$dirty && form.lType.$invalid">
                            <span ng-show="form.lType.$error.required">You need to choose licence type</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                         <label>Tags:
                            <span class="tag" ng-model="resource.tags" ng-repeat="tag in tags track by $index" > {{ tag }}</span>
                            <tags add-tag="addTag(tagm)">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 columns">
                        <input ng-disabled="form.$invalid" type="submit" class="button small" value="Update resource">
                    </div>
                </div>
            </div>

        </form>
</div>