

<div class="large-12 columns">

    <div ui-view></div>
<h1>Resources:</h1>
<label>Filter your search:
<input type="text" ng-model="searchText" placeholder="Type to start filtering">
</label>
    <ul  class="small-block-grid-2">

        <li ng-repeat="r in resources.resources | filter:searchText | orderBy:'created_at':true">
            <a ui-sref="base.resource.detail({resourceId:r.id})">
                <div class="card">
                    <div class="type">
                        <span class="typeflag">
                        <i class="{{r.resourcetype.resource_type | rType}}"></i>
                        </span>
                    </div>
                    <div class="row">
                        <div class="content">
                            <div class="title" >
                                <span class="block">{{ r.title }}</span>
                            </div>
                            <div class="description">
                                <small class="block">{{ r.description | ingress }}</small>
                            </div>
                        </div>


                        <div class="bottom">
                           <span class="tag" ng-repeat="tag in r.tags">{{ tag.tag }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="pagination-centered">
        <pagination my-pagi="paginations" pagi="pagination(url)"></pagination>
    </div>
</div>