 <ul class="pagination">
    <li class="arrow"><a  ng-click="pagi({url:myPagi[2].href})">{{myPagi[2].rel }}</a></li>
    <li class="arrow"><a  ng-click="pagi({url:myPagi[1].href})">{{myPagi[1].rel}}</a></li>
</ul>