<div class="large-12 columns">
    <form name="form">
        <div class="row collapse">
            <div class="small-9 large-10 columns">
                <input name="search" required ng-minlength="3" type="text" ng-model="query" placeholder="Search resources">
            </div>

            <div class="small-2 columns">
            <a href="#" ng-disabled="form.$invalid" ng-click="search()" class="button postfix">Go</a>
            </div>
        </div>
         <p ng-show="form.search.$dirty && form.search.$invalid">
            <span ng-show="form.search.$error.minlength">You need atleast 3 character for a valid search</span>
        </p>
    </form>
</div>