<div>
        <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model="tagValue" placeholder="Add tags">
        </div>
        <div class="small-2 columns">
          <a ng-click="localAddTag({tagm:tagValue})" class="button postfix">Add</a>
        </div>
        </div>


</div>




