 <h1 class="text-center logo border-bottom">TOERH.</h1>
 <div class="profilePanel text-center">
 <a ui-sref="base.profile({user:currentUser.firstname})">{{currentUser.firstname}}</a>
   <a  ng-hide="currentUser" ui-sref="base.login">Login</a>
   <small><a  ng-hide="!currentUser" ng-click="logout()">( Logout )</a></small>

 </div>

       <ul class="side-nav">
           <li>
               <a class="menu-button" ui-sref="base.resource.search">Search</a>
           </li>
           <li>
             <a class="menu-button"  ui-sref="base.resource">Resources</a>
           </li>
           <li>
                <a  ng-hide="!currentUser" class="menu-button" ui-sref="base.resource.add">Add new</a>
           </li>
 </ul>