<h2>{{currentUser.firstname}} {{ currentUser.lastname }}</h2>
<div class="panel callout radius">
    <p>Jag blev tyvärr ej helt färdig här. </p>
    <p>Nedan är en lista på alla resurser som tillhör användaren.</p>
</div>
<div>
    <ul  class="small-block-grid-2">
        <li ng-repeat="r in resources.resources | orderBy:-updated_at:reverse">
            <a ui-sref="base.resource.detail({resourceId:r.id})">
                <div class="card">
                    <div class="type">
                        <span class="typeflag">
                        <small>{{ r.resourcetype.resource_type }}</small>
                        </span>
                    </div>
                    <div class="title">
                        <h5>{{ r.title }}</h5>
                    </div>
                    <div class="bottom">
                        <div class="tags">
                            <span class="tag" ng-repeat="tag in r.tags">
                            {{ tag.tag }}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="pagination-centered">
        <pagination my-pagi="paginations" pagi="pagination(url)"></pagination>
    </div>
</div>